.App{
  color: blueviolet;
  background-color: aqua;
  text-align: center;
  padding: 10%;
  font-size: xx-large;
}

button{
  font-size: x-large;
  padding: 1rem;
  margin: 3rem;
  font-weight: 800;
  border-radius: 3rem;
}