.head {
  text-align: center;
  width: 60%;
  font-size: x-large;
  margin-left: 22%;
}

.quoteBox {
  width: 60%;
  margin-left: 20%;
  background-color: brown;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 2%;
  margin-top: 1%;
  border-radius: 2%;
}
body{
    background-color:lightgray;
}

.title {
  color: aliceblue;
}

.image {
  width: 50%;
  height: 60vh;
}
.button{
    font-size: larger;
    padding: 0.5rem;
    margin: 0.5rem;
}
